<div class = "container" >
  <h1 class="form-heading">お知らせを見る</h1>
  <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
  <% if @notifications.exists? %>
      <div class="users-index">
          <%= render @notifications %>
      </div>
  <% else %>
    <div class=" container ">
      <div class="companys-index-item">
        <p>お知らせはありません</p>
      </div>
    </div>
  <% end %>
</div>