<div class = "main top-main">
 <div class = "container border border-5">
  <h1 class="border-bottom">stock communicationとは</h1>
  <p>初心者のための株専用のコミュニケーションサイトです。</p>
  <p>投資をして見たいけど、どんな会社を買えば良いのか分からない・・。</p>
  <p>みんなで意見を出し合ってその会社の魅力について教え合おう！！</p>
 </div>
</div>
