HELLO
  <div class="border col-5">
    <br>
      <h2>テキストボックス</h2>
    <br>
    <div class="row">
      <div class="col-md">
        <form>
          <div class="form-group">
            <label>氏名：</label>
            <input type="text" class="form-control">
          </div>
        </form>
      </div>
     </div>
  </div>
 

    <div class="row">
            <div class="col-md">
                <form>
                    <div class="form-group">
                        <label>部署</label>
                        <select class="form-control">
                            <option>システム開発部</option>
                            <option>SEOマーケティング部</option>
                            <option>人事・総務部</option>
                            <option>営業本部</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>




        <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Button</button>
        <button class="btn btn-primary" type="button">Button</button>
      </div>

      <a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button"
      ><i class="fab fa-twitter me-2"></i>Twitter</a
    >
